@model comp2007_s2016_asgn_2.Models.MenuItems

@{
    ViewBag.Title = Model.Title + " Details";
}

@*<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>*@

<div class="row">
    <div class="col-md-offset-1 col-md-10 panel">
        <div class="col-md-6">
            <img src="~/Assets/@Model.ImageName" style="width: 100%;" />
        </div>
        <div class="col-md-6">
            <h2>@ViewBag.Title</h2>
            <p class="lead">$@Model.Price</p>
            <p>@Html.ActionLink("Back to List", "Index", "MenuItems", htmlAttributes: new { @class = "btn btn-primary" })</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10 panel">
        <p class="lead">@Model.Description</p>
    </div>
</div>
